body {
    background: #F7F7F7;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}
header {
    background: #F7F7F7;
    text-align: center;
    padding: 35px 0 35px 0;
    height: 50px;
}
header .logo a {
    background-image: url("images/pereil_logo.png");
    background-size: 125px;
    background-repeat: no-repeat;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-indent: -99999px;
    height: 150px;
    width: 150px;
    position: relative;
    top: -30px;
}
a {
    text-decoration: none;
}
a:hover {
    font-weight:bold;
}
a:visited, a:link {
    color: #221a7d;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
}
li {
    width: 200px;
    position: relative;
    top: 15px;
}
.line {
    background: #221a7d;
    height: 1px;
}
.space {
    height: 50px;
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.smiley {
    background-image: url("images/smiley.png");
    background-size: 75px;
    background-repeat: no-repeat;
    position: absolute;
    left: 85%;
    top: 190px;
    height: 75px;
    width: 75px;
}
.soon {
    color: #28d3c8;
    position: relative;
    top: 250px;  
    font-size:500%;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
}
.about {
    color: #334a49;
    font-size:350%;
    width: 700px;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
}
.forms {
    background-color: #1B1464;
    align-self: flex-end;
    font-size:200%;
    width: 170px;
    padding: 2px 2px 5px 2px;
    border-radius: 40px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a.form_button {
    color: white;
}

@media screen and (max-width: 800px) {
    li.links {
        width: 20%;
    }
    .soon {
        font-size:400%;
        top: 200px;
    }
    .content {
        flex-direction: column;
    }
    .about {
        font-size:250%;
        text-align: left;
        width: 80%;
    }
}

@media screen and (max-width: 450px) {
    .space {
        height:75px;
        display: flex;
        justify-content: left;
    }
    .smiley {
        background-size: 45px;
        position:relative;
        top: 20px;
        left: 80%;
    }
    header {
        padding: 15px 0 15px 0;
        height: 50px;
    }
    header .logo a {
        background-size: 95px;
        height: 95px;
        width: 95px;
        top: -20px;
    }
    ul {
        font-size: smaller;
    }
    .soon {
        width: 62%;
        top: 120px;
        text-align: left;
    }
    .about {
        font-size:200%;
    }
    
    .forms {
        background-color: #1B1464;
        align-self: flex-end;
        font-size:150%;
        width: 130px;
        position: relative;
        right: 20px;
        top: 30px;
    }

}