body {
    background: #F7F7F7;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}
header {
    background: #F7F7F7;
    text-align: center;
    padding: 35px 0 35px 0;
    height: 50px;
}
header .logo a {
    background-image: url("images/pereil_logo.png");
    background-size: 125px;
    background-repeat: no-repeat;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-indent: -99999px;
    height: 150px;
    width: 150px;
    position: relative;
    top: -30px;
}
.smiley {
    background-image: url("images/smiley.png");
    background-size: 75px;
    background-repeat: no-repeat;
    position: absolute;
    left: 85%;
    top: 190px;
    height: 75px;
    width: 75px;
}

a {
    text-decoration: none;
}
a:hover {
    font-weight:bold;
}
a:visited, a:link {
    color: #28d3c8;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
li {
    display: inline-block;
    width: 200px;
    position: relative;
    top: 15px;
}
.line {
    background: #221a7d;
    height: 1px;
}
.soon {
    color: #28d3c8;
    background: red;
    display: flex;
    justify-content: center;
    position: relative;
    top: 250px;
    font-size:500%;
    font-family: "Times New Roman", Times, serif;
}
.about {
    color: #28d3c8;
    display: flex;
    justify-content: center;
    position: relative;
    font-size:350%;
    width: 700px;
    margin: 2% 0 0 10%;
    padding: 20px 20px 20px 20px;
    border-radius: 25px;
    font-family: "Times New Roman", Times, serif;
}
.forms {
    background-color: #1B1464;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -75px;
    left: 700px;
    font-size:200%;
    width: 170px;
    padding: 2px 2px 2px 2px;
    border-radius: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a.form_button {
    color: white;
}

@media screen and (max-width: 800px) {
    li.links {
        width: 20%
    }
    .soon {
        font-size:400%;
        top: 200px;
    }
    .about {
        color: #28d3c8;
        display: flex;
        justify-content: center;
        position: relative;
        font-size:350%;
        width: 700px;
        margin: 2% 0 0 10%;
        padding: 20px 20px 20px 20px;
        border-radius: 25px;
        font-family: "Times New Roman", Times, serif;
    }
    
}